html, body {
    height: 100%;
}

.height-100vh {
    height: 100vh;
}

/*---------- SIGNUP PAGE and LOGIN PAGE --------*/
#form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#login-form .help-block-error,
#form-signup .help-block-error {
    font-size: 0.9rem;
    color: #f05f40;
}

#login-form #loginform-verifycode-image,
#form-signup #signupform-verifycode-image {
    height: 38px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#page-top .alert {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 60px;
    font-size: 14px;
}

/*---------- left menu --------*/
@media (max-width: 397px) {
    .sidebar {
        margin-top: 80px;
    }
}
@media (max-width: 361px) {
    .logout {
        margin-top: 3px !important;
        margin-left: 15px !important;
        margin-bottom: 15px !important;
    }
    .sidebar {
        margin-top: 120px;
    }
}

/*---------- Кабинет --------*/
.logout {
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 8px;
}
.run-client:hover {
    cursor: pointer;
}

/*---------- Правила сервиса --------*/
body .pravila-servica h4 {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
body .pravila-servica ul {
    margin-bottom: 50px;
}
body .pravila-servica ul li {
    line-height: 22px;
}
@media (min-width: 992px) {
    body .pravila-servica {
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
    }
}

